<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shtibel.truckies" >

    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <permission
        android:name="com.shtibel.truckies.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.shtibel.truckies.permission.C2D_MESSAGE" />

    <application
        android:name=".StartApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name=".activities.dashboard.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- <receiver -->
        <!-- android:name="com.google.android.gms.gcm.GcmReceiver" -->
        <!-- android:exported="true" -->
        <!-- android:permission="com.google.android.c2dm.permission.SEND" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.android.c2dm.intent.RECEIVE" /> -->


        <!-- <category android:name="com.example.gcm" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <service android:name=".pushNotifications.MyFcmListenerService" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".pushNotifications.InstanceIDListenerService" >
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".pushNotifications.RegistrationIntentService"  >
        </service>

        <receiver android:name=".servicesAndBroadCasts.GPSCheck" >
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name=".servicesAndBroadCasts.LocationService"
            android:enabled="true"
            android:exported="true"/>

        <receiver android:name=".servicesAndBroadCasts.AutoStart"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".servicesAndBroadCasts.AlarmReceiver"
            android:exported="false" >
        </receiver>

        <activity
            android:name=".activities.login.LoginActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.map.MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.alertDialog.AlertDialogActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.job.JobActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan" >
        </activity>
        <activity
            android:name=".activities.offer.OfferActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.account.AccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activities.notifications.NotificationsActivity"
            android:screenOrientation="portrait" >
        </activity>

        <receiver android:name=".pushNotifications.NotificationReceiver" >
            <intent-filter>
                <action android:name="notification_delete" />
                <action android:name="notification_open" />
                <action android:name="general_notification_open" />
                <action android:name="general_notification_delete" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".alertDialogActivity.AlertDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name=".activities.login.FillPasswordActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.profileImage.ProfileImageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.login.AgreeTermsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.job.SpecialLoadActivity"
            android:screenOrientation="portrait" >
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7c14279c1c61079454e8ce689c5bbf2936683a42" />

        <activity
            android:name=".activities.job.JobConfirmation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
    </application>

</manifest>
